<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="text-white">FEATURED POSTS</h2>
                <p class="text-white">Explore our featured articles for insightful reads handpicked by our team. Dive into trending topics, expert opinions, and must-know tips curated to inspire and inform.</p>
            </div>
        </div>

        <div class="row">
            @for(post of featuredPostsData;track post.title){
                <div class=" col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-5 d-flex justify-content-center">
                    <app-post-card class="card h-100 shadow-effect" [postData] = "post" ></app-post-card>
                </div>
            }
            
        </div>
    </div>
</section>

<section class="container mt-5">
    <div class="col-md-12 text-center">
        <h2>LATEST POSTS</h2>
        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis risus facilisis nibh imperdiet ornare.</p>

        <div class="row text-start">
            @for(post of latestPostData;track post.title){
                <div class="col-lg-4 col-md-6 mt-3 col-sm-12 d-flex justify-content-center">
                    <app-post-card class="card h-100 shadow-effect" [postData] = "post"></app-post-card>
                </div>
            } 
        </div>
    </div>
</section>