<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme-primary">
        <h1 class="text-white text-center">ABOUT US</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            
            <p>Donec est eros, semper quis odio vitae, tincidunt vehicula mi. Nam euismod lorem sed aliquam iaculis. Mauris porta vulputate ex eget ornare. </p>
            <p>Donec est eros, semper quis odio vitae, tincidunt vehicula mi. Nam euismod lorem sed aliquam iaculis. Mauris porta vulputate ex eget ornare. </p>
            <p>Donec est eros, semper quis odio vitae, tincidunt vehicula mi. Nam euismod lorem sed aliquam iaculis. Mauris porta vulputate ex eget ornare. </p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme">BACK TO HOME</button>
            </div>
        </div>
    </div>
</section>